::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}
.App {
  text-align: center;
  max-width: 600px;
  height: 1005px;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  font-family: "Trenda", sans-serif;
  padding-top: 60px;
}
.headshot {
  position: relative;
  max-width: 400px;
  margin-top: 60px;
  margin: 0 auto;
  border-radius: 50px;
  border: 1px solid #4933d9;
}

h1 {
  font-size: 24px;
  line-height: 32px;
  color: white;
  margin-bottom: 0;
}
p {
  font-size: 16px;
  line-height: 1.5rem;
  color: white;
  margin-top: 0;
}
.btn {
  width: 400px;
  background: #4933d9;
  border: 1px solid #4933d9;
  border-radius: 40px;
  color: white;
  padding: 14px;
  font-size: 16px;
}
.contact {
  background: #28d76e;
  border: 1px solid #28d76e;
  margin-top: 40px;
}
.video {
  max-width: 300px;
  aspect-ratio: 16/9;
}
.who-we-are {
  color: white;

  max-width: 400px;
  margin: 0 auto;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 2px solid #4933d9;
  border-radius: 40px;
}
